// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.comment.photo {
  width: 40px;
  height: 40px;
  border-radius: 22px;
}

.comments div {
  display: flex;
}

.comments ul {
  margin: 0;

}
