// Place all the styles related to the api/tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 160px;
  height: 160px;
}

h2, h3 {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  text-align: center;
  margin: 2.5px;
  padding: 0 10px;
  display: inline-block;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  color: white;
}

.track .header {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(270deg, #fff, #70929C);
  position: relative;
}

.header ul {
  position: absolute;
  margin: 20px;
  left: 125px;
}

.track img {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;

  ul {
    width: 670px;
    border-right: 1px solid #F2F2F2;
    margin: 25px;
    position: relative;
  }

  li {
    margin-top: 10px;
  }
}

.sidebar {
  width: 300px;
  margin: 25px 25px 0 0;
}


h4 {
  margin: 0;
  color: #ccc;
  font-weight: normal;
  border-bottom: 1px solid #F2F2F2;
}

.track-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track-nav div {
  display: flex;
  align-items: center;
}

.track-nav .fa-play, .fa.fa-comment {
  font-size: 11px;
  padding: 2px;
  margin-left: 5px;
}

.stream-tracks div {
  position: absolute;
  right: 0;
  font-size: 11px;
  color: #CCCCCC;

  i {
    font-size: 11px;
    color: #CCCCCC;
    padding: 2px;
  }
}

// comments

section.comments {
  margin: 25px 25px 0 0;
}

img.comments.photo {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  margin: 10px;
}

span.comments.photo {
  border: 1px solid red;
}

.comments div {
  display: flex;
  align-items: center;
}

.comments ul {
  margin: 10px;
  border: none;
}

.comments li {
  font-size: 12px;
  margin: 0;
}

.comments h5 {
  font-size: 11px;
  color: #ccc;
}

.comment-form {
  display: flex;
  align-items: center;
  height: 60px;
}

.comment-form img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.comment-form input {
  width: 750px;
  font-size: 15px;
  height: 30px;
}
