.fa {
  font-size: 22px;
  padding: 15px;
  color: #333333;
}

.fa-repeat {
  font-size: 14px;
  color: #898989;
  margin-left: 40px;
}

.active .fa-repeat {
  color: #F50;
}

.small-play {
  width: 36px;
  height: 36px;
  background-color: #F50;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5px 0 20px;
  position: relative;
  top: -18px;
  cursor: pointer;
}

.small-play:hover {
  background-color: #F30;
}

.small-play i {
  color: white;
  position: relative;
  left: 3px;
  font-size: 18px;
}

.small-play i.fa-pause {
  left: 1px;
}

.play {
  width: 60px;
  height: 60px;
  background-color: #F50;
  border-radius: 33px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  position: absolute;
  left: 50px;
  cursor: pointer;
}

.play:hover {
  background-color: #F30;
}

.play i {
  color: white;
  font-size: 32px;
  position: relative;
  left: 4px;
}

.play i.fa-pause {
  left: 1px;
}

.controller i.fa-play {
  padding: 16px;
}

.comments button {
  background-color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.fa-trash-o {
  color: white;
  font-size: 12px;
  padding: 0;
  position: relative;
  top: -8px;
  left: -4px;
}

.fa-trash-o:hover {
  color: black;
}

.add-button {
  border: 1px solid #F2F2F2;
  margin: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.edit-button {
  border: 1px solid #F2F2F2;
  margin: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.fa-list, .fa-pencil, .fa-trash {
  font-size: 11px;
  padding: 5px;
}
