input, select {
  display: block;
  height: 25px;
  width: 375px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 5px;
}

select {
  width: 200px;
  font-size: 16px;
}

input[type="file"] {
  border: 0;
  font-size: 14px;
}

button {
  background-color: #FF6500;
  padding: 5px 10px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: white;
}

.form a {
  display: block;
  text-align: center;
  cursor: pointer;
}

.errors {
  color: #FF6500;
}

.form.upload {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;

  button {
    margin: 0 5px;
  }

  a {
    display: inline;
  }
}

.form div {
  text-align: right;
}

.upload.image {
  width: 300px;
}

.image input {
  width: 260px;
}

header {
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}


.upload img {
  width: 260px;
  height: 260px;
  background: linear-gradient(#846170, #70929c);
  margin-right: 20px;
}

label {
  display: block;
}

textarea {
  display: block;
  height: 125px;
  width: 375px;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 5px;
}

.profile-form h1 {
  padding: 0;
}

section.profile.form {
  display: flex;
  margin-top: 20px;
}

.profile.image {
  width: 225px;
}

.save-changes {
  width: auto;
  font-size: 14px;
  padding: 5px;
  height: 30px;
  float: right;
  align-items: baseline;
}

.comments h5:hover, a h4:hover {
  color: #333333;
}

.sidebar a:hover {
  color: #333333;
}

a h3:hover {
  color: #FFFFFF;
}
