.nav {
  background-color: #333333;
  color: #F2F2F2;
  margin: 0;
  display: flex;
  font-size: 14px;
  height: 46px;
  justify-content: space-around;
}

.nav ul {
  width: 1200px;
}

.nav li {
  padding: 12px 10px;
}

.left {
  border-right: 1px solid black;
  text-align: center;
}

.left a {
  padding: 20px;
}

.left.logo {
  width: 184px;
  background: linear-gradient(#f70,#f30);
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.orange {
  background-color: #FF6500;
}

.search {
  width: 575px;
  height: 25px;
  border-radius: 5px;
  border: 0px;
  margin: -20px -5px;
}

.right a {
  padding: 5px 10px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}
