.stream {
  width: 850px;
}

h1 {
  font-size: 24px;
  color: #F50;
  padding: 25px 10px 0;
  margin: 0;
}

ul.stream-header {
  border-bottom: 1px solid #f2f2f2;
  margin-left: 20px;
}

.stream-header li {
  border-bottom: 1px solid #F50;
  width: 100px;
}

.tracks {
  margin: 25px;
}

ul.stream-tracks {
  display: flex;
  margin: 20px 0;
}

.small-play {
  width: 36px;
  height: 36px;
  background-color: #F50;
  border-radius: 33px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5px 0 20px;
  position: relative;
  top: -18px;
  cursor: pointer;
}

.stream h4 {
  border: none;
}
