.header canvas.waveform {
  width: 750px;
  height: 150px;
  position: absolute;
  left: 30px;
  bottom: 25px;
  opacity: 0.8;
  cursor: pointer;
}

.stream canvas.waveform, .user-track-list canvas.waveform {
  width: 450px;
  height: 100px;
  position: absolute;
  left: 200px;
  bottom: 15px;
  opacity: 0.8;
  cursor: pointer;
}

canvas.waveform:hover {
  opacity: 1;
}
